.section_theme_white{
  color: $color__midnight_3;
  & .icon{
    filter: brightness(0);
  }
  & .star{
  color: $color__sunflower;
  }
  & .button_type_form{
    color: #fff;
    background-color: $color__sunflower;
  }
}
